<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="styles.min.css")
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css', rel='stylesheet', type='text/css')
    script(defer src="https://use.fontawesome.com/991e61a5a1.js")
    script(defer src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js")
    script(defer src="app.js")
    title Nine Men's Morris

  body
    .wrap
      .console.flex
        .playerOnePieces
          h3 Player One
          h2 9
        .playerTwoPieces
          h3 Player Two
          h2 9
        
      svg#gameBoard(viewBox='-15 -15 450 450', fill='none', xmlns='http://www.w3.org/2000/svg')
        g.lines(stroke='#FDD400', stroke-width='4')
          rect(x='12', y='12', width='396', height='396')
          rect(x='79', y='79', width='262', height='262')
          rect(x='145', y='145', width='130', height='130')
          line(x1='212', y1='10', x2='212', y2='143')
          line(x1='212', y1='277', x2='212', y2='410')
          line(x1='143', y1='212', x2='10', y2='212')
          line(x1='410', y1='212', x2='277', y2='212')
        g.dots()
          circle.empty(cx='10', cy='10', r='10')
          circle.empty(cx='10', cy='210', r='10')
          circle.empty(cx='10', cy='404', r='10')
          circle.empty(cx='77', cy='77', r='10')
          circle.empty(cx='77', cy='210', r='10')
          circle.empty(cx='77', cy='343', r='10')
          circle.empty(cx='145', cy='145', r='10')
          circle.empty(cx='145', cy='210', r='10')
          circle.empty(cx='145', cy='274', r='10')
          circle.empty(cx='212', cy='10', r='10')
          circle.empty(cx='212', cy='77', r='10')
          circle.empty(cx='212', cy='145', r='10')
          circle.empty(cx='213', cy='274', r='10')
          circle.empty(cx='213', cy='343', r='10')
          circle.empty(cx='213', cy='404', r='10')
          circle.empty(cx='276', cy='145', r='10')
          circle.empty(cx='276', cy='211', r='10')
          circle.empty(cx='276', cy='274', r='10')
          circle.empty(cx='343', cy='77', r='10')
          circle.empty(cx='343', cy='211', r='10')
          circle.empty(cx='343', cy='343', r='10')
          circle.empty(cx='410', cy='10', r='10',)
          circle.empty(cx='410', cy='211', r='10')
          circle.empty(cx='410', cy='404', r='10')