//- //< Sassy settings
$minWidthLg: 1000px;
$minWidthMed: 800px;
$minWidthSml: 420px;
//- //>Base settings
:root {
	--color: #fff;
	--color2: #000;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	background-color: rgb(60, 83, 133);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.wrap {
	width: 80%;
	margin: 0 auto;
	display: grid;
	justify-content: center;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.console {
	padding: 1.5rem;
	color: white;
	text-align: center;
	background-color: grey;
}
#gameBoard {
	width: 560px;
	height: 560px;
	@media (max-width: $minWidthSml) {
		width: 360px;
		height: 360px;
	}
}

.lines {
	stroke: #212841;
	stroke-width: 4;
}

.dots {
	fill: white;
	//-fill-opacity: 50%;
	stroke: black;
	stroke-width: 1px;
}

circle:hover {
	fill-opacity: 50%;
	stroke: white;
	stroke-width: 2px;
}

.playerOne {
	fill: rgb(202, 89, 95);
	fill-opacity: 100%;
}

.playerTwo {
	fill: rgb(95, 161, 95);
	fill-opacity: 100%;
}

.mill {
	stroke: gold;
	stroke-width: 2px;
}
