//- //< Sassy settings
$minWidthLg: 1000px;
$minWidthMed: 800px;
$minWidthSml: 420px;
//- //>Base settings
:root {
	--color: rgb(202, 89, 95);
	--colorDark: rgb(117, 52, 55);
	--color2: rgb(95, 161, 95);
	--color2Dark: rgb(68, 112, 68);
	--colorBg: rgb(60, 83, 133);
	--colorBg2: rgb(48, 66, 105);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-height: 100%;
	margin: 0;
	background-color: var(--colorBg);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

h2,
h3 {
	margin: 0.5rem 0;
}

.wrap {
	width: 80%;
	margin: 0 auto;
	display: grid;
	justify-content: center;
}

.flex {
	display: flex;
	justify-content: space-around;
}

.console {
	margin-bottom: 1rem;
	padding: 1.5rem;
	color: white;
	text-align: center;
	background-color: grey;
	border-radius: 0 0 1.5rem 1.5rem;
}

.playerOnePieces,
.playerTwoPieces {
	position: relative;
}

.playerOnePieces::after {
	content: '\f007';
	position: absolute;
	top: 2rem;
	left: -2.5rem;
	color: var(--colorDark);
	font-family: 'Font Awesome 5 Free';
	font-size: 2.5rem;
}

.playerTwoPieces::after {
	@extend .playerOnePieces::after;
	color: var(--color2Dark);
}

#gameBoard {
	width: 560px;
	height: 560px;
	@media (max-width: $minWidthSml) {
		width: 360px;
		height: 360px;
	}
}

.lines {
	stroke: #212841;
	stroke-width: 4;
}

.dots {
	fill: var(--colorBg2);
	//-fill-opacity: 50%;
	stroke: black;
	stroke-width: 1px;
}

circle:hover {
	fill-opacity: 80%;
	stroke: white;
	stroke-width: 2px;
}

.playerOne {
	fill: var(--color);
	fill-opacity: 100%;
}

.playerTwo {
	fill: var(--color2);
	fill-opacity: 100%;
}

.mill {
	stroke: gold;
	stroke-width: 2px;
}
